.ipynb_checkpoints/Tarea 1 Rich-checkpoint.ipynb
.ipynb_checkpoints/Clase 15 (caida de un objeto)-checkpoint.ipynb
.ipynb_checkpoints/Clase 16 (Met Jan 1)-checkpoint.ipynb
.ipynb_checkpoints/Clase 17 (Met Jac 2)-checkpoint.ipynb
